.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	padding-inline: 20px;
	backdrop-filter: blur(30px);
	box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
	border: 2px solid rgba(255, 255, 255, 0.18);
	border-radius: 8px;
}
