.searchContainer {
	margin-bottom: 40px;
}
.searchLabel {
	display: block;
	margin-bottom: 10px;
}

.searchInput {
	border-radius: 8px;
	padding-inline: 12px;
	padding-block: 8px;
	border-style: none;
	min-width: 320px;
}
