.form {
	width: 320px;
}

.label {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.formContact {
	margin: auto;
	border: 2px solid var(--deep-dark);
	border-radius: 8px;
	width: 320px;
	padding: 20px;
	margin-bottom: 40px;
}
@media (prefers-color-scheme: light) {
	.formContact {
		border: 2px solid var(--light-silver);
	}
}
.formLabel {
	text-align: start;
	display: block;
	margin-bottom: 8px;
}

.formInputWrapper {
	position: relative;
}

.formInput {
	border-style: none;
	border-radius: 8px;
	padding-block: 8px;
	padding-inline: 12px;
	min-width: 300px;
	width: 90%;
	margin-bottom: 30px;
}

.formErrorMessage {
	position: absolute;
	top: 32px;
	left: 8px;
	color: tomato;
}

.formButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin: auto;
}
