.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	padding: 12px;
	font-weight: 700;
	color: #2a363b;
}

.link.active {
	color: #e84a5f;
}
