.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	padding: 12px;
	font-weight: 700;
	color: #fff;
}

.active {
	color: #ff6347;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	button {
		background-color: #f9f9f9;
	}
	.link {
		color: #213547;
	}
	.active {
		color: #ff6347;
	}
}
